html, body, #main{
    background: rgb(255, 253, 253);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 150%;
    line-height: 150%;
    text-align: justify;
    overflow-x: hidden;
}

#main{
    margin:0px;
    padding: 0px;
}
#topnav{
    background-color:rgb(11, 79, 79);
    height: 80px;
    margin: 0px;
    padding: 0px;
    font-size: 22px;
}

#topnav ul{
    
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0px;
     justify-content: end;
    align-items: center;
    padding: 0px;
    justify-content: end;
    align-items: center;
}
#topnav ul li {
    text-align: end;
    padding: 27px;

}
#topnav ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;
}
#topnav ul :hover{
        color:rgb(11, 79, 79);
        background-color: black;
}
#sec{
    text-align: center;
    height: 680px;
    background-color: rgb(255, 255, 255);
    background-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#coverpage{
    height: 100%;
    width: auto;
    
}
#run{
    font-size: 60px;
    color: rgb(11, 79, 79);
}
#thr{
    display: flex;
    margin: 40px 90px;
    padding: 40px 20px;
}
#img-div{
    text-align: center;
}
#image{
    width: auto;
    height: 500px;
}
#img-caption{
    font-size: 16px; 
}
#tribute-info{
    margin: 40px 90px;
    padding: 40px 20px;
}

#tribute-info ul{
    padding: 10px 0px;
    margin: 0px;
}

#more{
    text-align: center;
    padding-top: 50px;
}
#wiki{
    width: 80px;
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    border: black solid;
    
}

@media (max-width : 1150px){
        #sec{
            display: block;
        }
        #coverpage{
            padding: 0px;
            margin: 0px;
            width: 480px;
            height: 590px;
        }
        #run{
            background-color: black;
            margin: 10px;
            padding: 0px 30px;
        }
        #thr{
            display: block;
            margin: 50px;
        }
        #tribute-info{
            margin: 50px;

        }
    }
    @media  (max-width : 700px ){
        
        #topnav{
            height: 50px;
        }
        #topnav ul{
            
            justify-content: space-between;
        }

        #coverpage{
            width: 350px;
            height: 450px;
            padding-top: 60px;
        }
        #run{
            font-size: 30px;
        }
        #thr, #tribute-info{
            margin: 25px;
        }
        #img-div{
            padding: 0px;
            margin: 0px;
        }
        #image{
            width: 275px;
            height: 375px;
          
        }
    
    }